.left{
    background-color: #f4f4f4; 
    text-align: center;
    padding: 10px;
    max-width: 800px;
}
img{
    width:160px;
    height: 160px;
    border-radius: 50%;
    margin: 60px 0px 30px 0px;
    /* margin: auto;
    margin-bottom: 20px;
    margin-top: ; */
}

.left h4{
    background-color: #444440;
    color: white;
    border-radius: 25px;
    width: 70%;
    padding: 8px;
    margin: auto;
    margin-bottom: 25px;
}
.contact{
    margin-bottom: 25px;
}
i{
    padding: 8px;
}
a{
    text-decoration: none;
    color:   #444440;
}
.education{
    margin-bottom: 25px;
}
.skills ul{
    list-style-position: inside;
    padding-left: 0;
    margin-bottom: 25px;
}
li{
    font-size: 15px;
    padding: 7px;
}
.right{
    padding: 20px;
}
.headings-right h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.headings-right hr{
    border: none;
    border-top: 2px solid #dcdada;
    width: 100%;
    margin-top: -5px; /* Adjust spacing */
}
.experience-items{
    display: flex;
    justify-content: space-between;
}
.experience-left{
    width: 70%;
}
.experience-right{
    width: 30%;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}
table{
   border: none;
}